{% extends 'base.html' %}

{% block page_title %} Unicorn Attractor - Bugs {% endblock %}

{% block bugnav %} class="active" {% endblock %}

{% block content %} 
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            {% if user.is_authenticated %}
                <a href="{% url 'new_bug' %}" class="addBug btn btn-info">Add a bug</a>    
            {% else %}
                <p>You must be logged in before you can add bugs, comment or vote.</p>
            {% endif %}
        </div>
    </div>
    <div class="row" id="bugsContainer">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="panel-group" id="bugsGroup">
                    {% for bug in bugs %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8">
                                        <h3>{{ bug.title }} - {{ bug.status }}</h3>
                                        <span>{{ bug.description|truncatewords:30 }}</span>    
                                    </div>
                                    <div class="bugInteractionContainer col-xs-12 col-sm-4">
                                        {% if user.is_authenticated %}
                                            <div class="voteContainer">
                                                <a href="{% url 'upvote_bug' bug.id %}" class="btn btn-info">Upvote <i class="fas fa-arrow-up"></i></a>
                                                <div class="totalVotes">{{ bug.upvotes }} </div>
                                            </div>
                                        {% endif %}
                                        <!--{% url 'bug_detail' bug.id %}-->
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        {% for comment in comments %}
                                            {% if comment.bug_id == bug.id %}
                                                <div class="col-xs-12 col-sm-3">
                                                    <p><strong>{{ comment.user }}</strong></p>
                                                </div>
                                                <div class="col-xs-12 col-sm-7">
                                                    <p>{{ comment.contents }}</p>    
                                                </div>
                                                <div class="col-xs-12 createdDate">
                                                    <p>{{ comment.created_date }}</p>    
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-collapse collapse" id="{{ bug.id }}">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <form action="{% url 'add_comment' bug.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <div class="col-sm-10">
                                                            <input type="text" name="contents" class="form-control"/>
                                                            <input type="text" name="user" class="hidden" value="{{ user.get_username }}"/>
                                                            <input type="text" name="bug" class="hidden" value="{{ bug.id }}"/>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <button type="submit" class="btn btn-info">Add Comment</button>        
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <span class="boldtext">Created: </span>{{ bug.created_date }}
                                {% if user.is_authenticated %}
                                    <a href="#{{ bug.id }}" data-toggle="collapse" class="addComment btn btn-default">Add a comment</a>    
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    
{% endblock %}