/* Navbar */

body {
    font-family: Poppins;
}
#navbar {
    overflow: hidden;
}
.nav>li>a.logoutLink {
    position: absolute;
    right: -10px;
    font-size: 10px;
    color: blue;
    cursor: pointer;
    top: 15px;
}
.nav>li>a.logoutLink:hover {
    color: darkblue;
    transform: scale(1.1);
}

/* Login page */
#resetPassword {
    position: absolute;
    right: 15px;
    top: 135px;
}
#loginButton {
    margin-top: 20px;
}
#createAccount {
    margin-top: 10px;
}
#loginButton, #createAccount, #registerButton {
    width: 100%;
}

#loginForm {
    margin-top: 60px;
    margin-bottom: 30px;
}
#loginForm #id_username {
    background-color: white;
}
.pageTitle {
    display: inline-block;
    color: #464646;
}
/* bugs and features pages */
.addComment {
    float: right;
}
.addBug, .addFeature {
    float:right;
}
.panel-footer {
    overflow: auto;
}
.panel-group .panel.panel-info, .panel-group .panel.panel-warning {
    margin-bottom: 20px;
}
h3 {
    margin-top: 0;
}
#bugsContainer, #featuresContainer {
    margin-top: 20px;
}
.buttonForm {
    display: inline-block;
    margin-right: 10px;
}
.bugInteractionContainer, .featureInteractionContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.createdDate {
    border-bottom: solid 1px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}
.totalVotes {
    background-color: white;
    border: solid 2px blue;
    width: 34px;
    height: 34px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.commentBody, .commentPanel {
    border: none;
    box-shadow: none;
    padding: 0;
}
.openComment {
    float: right;
}

/* Payments */
.stripe-button-el {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

/* Dashboard */
.panel-heading {
    overflow: auto;
}
.bar {
    fill: transparent;
    width: 49%;
}
.bar-chart {
    width: 100%;
}
.bar-chart text {
    position: absolute;
    top: 0;
    width: 100%;
    fill: white;
    font-weight: bold;
    margin-left: 10px;
}
.bar-chart text {
    /*transform: translateX(-46%);*/
}
.chartLabel, .chartHeader {
    text-align: center;
}
.chartContainer {
    position: relative;
}
#bugsFigure {
    z-index: 2;
    font-size: 20;
    bottom: 30px;
    left: 25%;
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
#featuresFigure {
    z-index: 2;
    font-size: 20;
    bottom: 30px;
    right: 26%;
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
#personalBarBugs {
    position: absolute;
    left: 5%;
    bottom: 10px;
    width: 43%;
    background-color: orange;
}
#personalBarFeatures {
    position: absolute;
    right: 5%;
    width: 43%;
    background-color: green;
    bottom: 10px;
}